@import 'swiper/css/bundle';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "MinecraftRegular";
    src: url('../../public/assets/font/Minecraft-reloaded.otf');
}

@font-face {
    font-family: "MinecraftBold";
    src: url('../../public/assets/font/Minecraft-Bold-reloaded.otf');
}

[x-cloak] {
    display: none;
}
